{% extends 'blogapp/base.html' %}
{% load static %}

{% block title %}
  Articles
{% endblock %}

{% block body %}
  <h1>Articles</h1>
  {% if object_list %}
    <div>
      {% for article in object_list %}
        <div>
          <p>
            <a href="{% url 'blogapp:article' pk=article.id %}">
              {{ article.title }}
            </a>
          </p>
          <p>
            {{ article.published_at }}
          </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No articles are available.</p>
  {% endif %}

{% endblock %}
