{% extends 'base.html' %}

{% load cache %}

{% block title %}
  Shop Index
{% endblock %}

{% block leftbar %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'shopapp:products_list' %}">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'shopapp:orders_list' %}">Orders</a>
        </li>
    </ul>

{% endblock %}


{% block body %}
  <h1>Hello Shop Index!</h1>

  <div>
    <ul>
      {% for name, price in products %}
        <li>{{ name }} ({{ name|length }}) for ${{ price }}</li>
        {% if name|length_is:'7' %}
          <span>Lucky product!</span>
        {% endif %}
      {% empty %}
        No products here
      {% endfor %}

    </ul>
  </div>

  <div>
    Time running: {{ time_running }}
  </div>

  {% cache 100 lorem %}
  <div>
    {% lorem 3 p random %}
  </div>
  {% endcache %}


{% endblock %}