{% extends "base.html" %}

{% block title %}
    Confirm Delete {{ object.name }}
{% endblock %}


{% block content %}
    <h1>  Are you sure yuo want to <strong>delete</strong> <em>{{ object.name }}</em> ?</h1>
    <br>
    <div>
        <a href=" {% url 'shopapp:order_details' pk=object.pk %}">
            Back to orders
        </a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Delete</button>
        </form>
    </div>

{% endblock %}